/*
réserver l'espace de la barre de statut pour éviter les chevauchements
*/
$barHeight: 24px;
$fontSize: 1em;

body {
	position:absolute;
	height:auto;
	top:0;
	bottom: $barHeight;
}
.statusBar {

	height: $barHeight;
	line-height: $barHeight;
	font-size: $fontSize;
	font-family: "Lato",sans-serif;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background: #EEEEEE;


	&>div {
		display: inline-block;
		width: 33%;
	}
	.left {
		text-align: left;
		margin-left: 0.5%;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
		margin-right: 0.5%;
	}
	img {display:none;}
}
